[Unit]
Description=Ansible-pull service

[Service]
Type=simple
User=ansible
Group=ansible
ExecStart=ansible-pull -o -U https://github.com/tomolav/ansible.git install.yml 


[Install]
WantedBy=multi-user.target
